SENTRY_DSN="https://examplePublicKey@o0.ingest.us.sentry.io/0"
NEXT_PUBLIC_SENTRY_DSN="https://examplePublicKey@o0.ingest.us.sentry.io/0"
SENTRY_AUTH_TOKEN="sntrys_your_sentry_auth_token_here"
SENTRY_ENVIRONMENT="development"
NEXT_PUBLIC_SENTRY_ENVIRONMENT="development"
SENTRY_RELEASE=""
NEXT_PUBLIC_SENTRY_RELEASE=""
NEXT_PUBLIC_API_URL="http://localhost:3000"
API_URL="http://localhost:3000"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="24huo6b5rd.apps.googleusercontent.com"
